.row {
    background-color: #000;
    padding: 1.2em;
    padding-bottom: 1em;
    margin: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #dc82c9;
}

.nav-pills>li>a {
    border-radius: 0px;
    margin: 0 1em;
}

a {
    color: #fff;
    cursor: pointer;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #000;
    transition: 0.3s;
}

.nav-logo {
	background: url('/images/c-img.png');
    background-size: contain;
    height: 50px;
    background-size: 60px 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    padding: 5px 0px 0 50px;
    float: left;
    color: #fff;
    font-size: 1.4em;
}

.navbar-brand {
    padding: 5px 15px;

}

header.row {
    margin-bottom: 2em;
    border-radius: 0;
    box-shadow: 0 5px 10px 0px rgba(254, 245, 245, 0.3);
    -moz-box-shadow: 0 5px 10px 0px rgba(254, 245, 245, 0.3);
    -webkit-box-shadow: 0 5px 10px 0px rgba(254, 245, 245, 0.3);
    -o-box-shadow: 0 5px 10px 0px rgba(254, 245, 245, 0.3);
    -ms-box-shadow: 0 5px 10px 0px rgba(254, 245, 245, 0.3);
}