.signup-component {
    width: 100%;
    min-height: 70vh;
    text-align: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.btn {
    width: 40%;
    padding: 1em 0;
    display: block;
    margin: 0 auto;
}

img {
    max-width: 30%;
    
}

.img-log {
    text-align: center;
}

h3 {
    color: #000;
}