<div class="col-md-8 signin-component">

    <!-- use form in component - myForm -->
    <!-- call ngSubmit for submitting form -->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="eol-img">
            <img src="/images/login.png" alt="Login image">
        </div>
        <div class="form-group">
            <label for="email">Email</label>

            <!-- define which input belongs to which control in component - formControlName-->
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>

        <!-- disable submit button if form isnt valid -->
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>