<h2>PROFILE</h2>

<!-- inject current user name -->
<h3>Welcome, {{user}}</h3>
<div class="col-md-8 col-md-offset-2">
    
    <!-- hook up message component -->
    <!-- pass arg - "message" property in parent component
                  - [message] property setup in message component -->

    <!-- loop through message and output app-message component as often as needed -
                    add directive ngFor to app-message component -->
    <!-- create new message component per iteration -->
    <!-- hide edit button if parent is profile component -->
    <app-message [message]="message" *ngFor="let message of messages" [profileParent]="profile"></app-message>
    <i class="far fa-arrow-alt-circle-up top" (click)="toTop()"></i>
</div>
