i.far.fa-arrow-alt-circle-up.top {
    position: fixed;
    bottom: 1.4em;
    font-size: 4em;
    right: 1em;
    opacity: 0.5;
    cursor: pointer;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

a.btn.btn-outline-submit {
    display: none !important;
}

.col-md-8.col-md-offset-2 {
    min-height: calc(100vh - 400px);
}